* {
  /* fonts */
  font-family: "Poppins", sans-serif;
}

.h-font {
  font-family: "Croissant One", serif;
}

/* Hide Arrows From Form Input Number  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* custom button */
.custom-bg {
  background-color: #2ec1ac;
  border: 1px solid #50ffe5;
}

.custom-bg:hover {
  background-color: #279e8c;
}

.availability-form {
  margin-top: -50px;
  z-index: 2;
  position: relative;
}

/* media screen */
@media screen and (max-width: 575px) {
  .availability-form {
    margin-top: 25px;
    padding: 0 35px;
  }
}

/* Testimonials */
.swiper-testimonials img{
  border-radius: 50%;
}

/* facility */
@media (min-width: 768px) and (max-width: 991px) {
  .facility-card img {
    width: 85px !important;
  }

  .facility-card h5 {
    font-size: 1rem !important;
  }
}


/* footer */
@media (max-width: 768px) {
  .container-fluid {
    padding: 20px;
  }

  .container-fluid h5,
  .container-fluid h3 {
    text-align: center;
  }

  .container-fluid a,
  .container-fluid p {
    text-align: center !important;
    display: block !important;
  }

  .links-section a,
  .follow-section a {
    height: 3px;
  }

  .text-section p{
    margin-bottom: 0;
  }

  .text-section{
    padding-bottom: .5rem !important;
  }
}

@media (min-width: 991px) and (max-width: 1150px) {
  .mail-address,
  .my-address {
    white-space: nowrap;
    font-size: 0.95rem;
  }
}


