* {
  /* fonts */
  font-family: "Poppins", sans-serif;
}

.h-font {
  font-family: "Croissant One", serif;
}

/* Hide Arrows From Form Input Number  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.custom-bg {
  background-color: #2ec1ac;
  border: 1px solid #50ffe5;
}

.custom-bg:hover {
  background-color: #279e8c;
}

.availability-form {
  margin-top: -50px;
  z-index: 2;
  position: relative;
}

/* media screen */
@media screen and (max-width: 575px) {
  .availability-form {
    margin-top: 25px;
    padding: 0 35px;
  }
}